<div class="project-view__wrapper" *ngIf="projectService.currentProject; else noProjectBlock">
  <div class="project-view-bar">
    <mat-icon
      class="project-view-bar__icon project-view-bar__icon--active"
      style="transform: scale(1.25);"
      >vertical_split</mat-icon
    >
    <mat-icon class="project-view-bar__icon">dashboard</mat-icon>
  </div>
  <div class="project-view">
    <div class="columns-list__wrapper">
      <span class="columns-list__header">Columns</span>
      <ul class="columns-list">
        <li
          *ngFor="let column of projectService.currentProject.columns; index as i"
          (click)="onColumnClicked(i)"
          class="columns-list__item"
          [class]="
            selectedColumn
              ? this.projectService.currentProject.columns[selectedColumn].id === column.id
                ? 'columns-list__item--selected'
                : ''
              : ''
          "
        >
          {{ column.name }}
        </li>
      </ul>
    </div>
    <div class="cards-view" *ngIf="selectedColumn !== undefined">
      <div class="card" *ngFor="let card of this.projectService.currentProject.columns[selectedColumn].cards; index as i">
        <div class="card__bar">
          <div>
            <mat-icon class="card__bar__icon" (click)="moveCard(card, i - 1, i)">arrow_upward</mat-icon>
            <mat-icon class="card__bar__icon" (click)="moveCard(card, i + 1, i)">arrow_downward</mat-icon>
          </div>
        </div>
        <div class="card__content" [innerHTML]="card.note | markdownParse"></div>
      </div>
    </div>
  </div>
</div>
<ng-template #noProjectBlock>
  <div class="no-project">
    No project selected
  </div>
</ng-template>
