.project-view__wrapper
  width: 100%
  height: 100%
  display: flex
  flex-direction: column
  background-color: #fafbfc

.project-view-bar
  width: 100%
  background-color: white
  border-bottom: solid 1px #eeeeee
  display: flex
  align-items: center
  color: #161515
  padding: 2px 17px

  .project-view-bar__icon
    color: gray
    margin: 0 2px
    cursor: pointer

  .project-view-bar__icon--active
    color: black

.project-view
  width: 100%
  flex: 1
  overflow: auto
