.login__wrapper
  height: 100%
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  overflow: auto

  > *
    margin: 0

  .login-form
    margin-top: 1em
    padding: 10px
    width: 100%
    text-align: center

    &__input
      margin: 3px auto
      max-width: 300px
      width: 100%
      display: block
      min-height: 34px
      padding: 6px 8px
      font-size: 16px
      line-height: 20px
      color: #24292e
      vertical-align: middle
      background-color: #ffffff
      border: 1px solid #d1d5da
      border-radius: 3px
      outline: none
      box-shadow: inset 0 1px 2px rgba(27,31,35,0.075)

      &.focus,
      &:focus
        border-color: #2188ff
        outline: none
        box-shadow: inset 0 1px 2px rgba(#000000, 0.075), 0 0 0 0.2em rgba(#2188ff, 0.3)

    &__button
      display: block
      padding: 6px 12px
      line-height: 20px
      white-space: nowrap
      vertical-align: middle
      cursor: pointer
      user-select: none
      background-repeat: repeat-x
      background-position: -1px -1px
      background-size: 110% 110%
      border: 1px solid rgba(0,0,0,0.2)
      border-radius: 0.25em
      appearance: none
      color: white
      background: linear-gradient(-180deg,#0366d6,#005cc5 90%)
      margin: 5px auto
