<div class="wrapper">
  <nav class="nav">
    <div class="nav-block"></div>
    <div class="nav-block">
      <img
        src="/assets/images/GitHub-Mark-Light-32px.png"
        alt="GitHub Mark"
        class="nav-block__image"
      />
      <h3 class="nav-block__heading">(pro)jects</h3>
    </div>
    <div class="nav-block"></div>
  </nav>
  <div class="app">
    <rsz-layout class="row">
      <rsz-layout class="cell app__pane" [directions]="['right']" rFlex="true">dupa</rsz-layout>
      <rsz-layout class="cell">dupa</rsz-layout>
    </rsz-layout>
  </div>
</div>
