.projects-list__wrapper
  padding: 10px
  overflow-y: auto

  h3
    margin: 0

.projects-list__empty-caption
  color: gray
  margin: 5px 0 0 1em
  font-size: .8em

.projects-list
  margin-top: 5px

  .projects-list__item
    span
      color: #0366d6
      text-decoration: none
      font-weight: 600
      cursor: pointer

      &:hover
        text-decoration: underline
