.wrapper
  width: 100%
  height: 100vh
  overflow: hidden
  display: flex
  flex-direction: column

.nav
  width: 100%
  display: flex
  flex-direction: row
  justify-content: space-between
  padding: 10px
  color: white
  background-color: #161515

.nav-block
  display: flex
  align-items: center

  .nav-block__image
    margin: 0 10px
    height: 32px
    width: 32px

  .nav-block__image--rounded
    border-radius: 50%

  .nav-block__heading
    margin: 0

.app
  width: 100%
  flex: 1

.bar
  background-color: #0366d6
  font-size: 12px
  padding: 2px
  color: white
  display: flex
  align-items: center
  justify-content: space-between
